# -------------------------
# Operating system files
# -------------------------
.DS_Store
Thumbs.db
Desktop.ini

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
env/
venv/
.venv/
.env
.env.*
secrets.json
credentials

# -------------------------
# Terraform
# -------------------------
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json


# -------------------------
# Generated Artifacts
# -------------------------
*.zip

# -------------------------
# Editors and IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs, databases, keys
# -------------------------
*.log
*.pem
*.key